<div class="form-container">
  

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  
    <mat-form-field class="full-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter your full name" required />
      <mat-error *ngIf="studentForm.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="age" placeholder="Enter your age" required />
      <mat-error *ngIf="studentForm.get('age')?.hasError('required')">Age is required</mat-error>
      <mat-error *ngIf="studentForm.get('age')?.hasError('min')">Age must be at least 1</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" placeholder="Select gender" required>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
      <mat-error *ngIf="studentForm.get('gender')?.hasError('required')">Gender is required</mat-error>
    </mat-form-field>

    <div class="button-container">
      <a mat-button routerLink="/student-table" [style.color]="'#333333'">
        <mat-icon>arrow_back</mat-icon>  Back
        </a>
      <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.valid">
        {{ isEditing ? 'Update' : 'Add' }} Student
      </button>
    </div>
  </form>
</div>
